# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iml
.vscode/
.project
.classpath
.settings/
bin/

# OS
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Logs
*.log